* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999
}

.tabs input {
    visibility: hidden;
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 65px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    background: #0b0a0a;
}

.buttons label{
    width: auto;
    font-size: 1.75em;
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 0.3;
    transition: 0.5s;
}


.buttons label:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
}

.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
.tabs input:nth-child(4):checked ~ .buttons label:nth-child(4),
.tabs input:nth-child(5):checked ~ .buttons label:nth-child(5) {
    color: #fff;
    opacity: 1;
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
}

/*.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 5px;
    background: red;
    transition: 0.5s;
}

.underline::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 100%;
    background: #ffffff;
}
