@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tektur", sans-serif;
}

body{
    background: linear-gradient(to bottom, #0a0a0a, #070707);
}
p {
    color: white;
}
.alert {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 36%;
    bottom: 50%;
    z-index: 999;
    height: 30px;
    width: 120px;
    background-color: #181f34;
    border-radius: 5px;
}
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Помещаем звезды за все остальные элементы */
    background-color: #0b0a0a; /* Цвет фона, черный для эффекта ночного неба */
}
.content {
    padding: 0 50px 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content .logo{
    margin: 0;
    padding: 0;
    border: none;
}
.content .logo p{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 70pt;
    font-family: 'Jura', sans-serif;
}

.content .author p {
    font-family: 'Jura', sans-serif;
    font-size: 8pt;
    margin-bottom: 20px;
}

.content .notification {
    border: 1px solid #8f89b9;
    border-radius: 8px;
    padding: 10px;
    background: linear-gradient(135deg, rgba(17, 19, 18, 0.692), rgba(0, 0, 0, 0.11));
    backdrop-filter: blur(1px);
    margin-bottom: 35px;

}

.content .notification .description{
    font-size: 8pt;
    margin-bottom: 10px;
}


.content .notification .donat .usdt {
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.content .notification .donat .trx {
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address {
    padding: 4px;
    background:  #181f34;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content .media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 20px;
    margin-bottom: 110px;
}

.content .media .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .media .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;

    border-radius: 10px;
    font-size: 2em;
}

.content .media .item p{
    font-size: 8pt;
}

.icon label {
    font-size: 1.5em;
    color: transparent;
    opacity: 1;
    transition: 0.5s;
}

.tg{
    -webkit-text-stroke: 1px #b6fdff;
    filter: drop-shadow(0 0 1px #1555a3) drop-shadow(0 0 1px #1555a3);
}
#tg1, #tg2 {
    border: 1px solid #b6fdff;
    filter: drop-shadow(0 0 4px #1555a3) drop-shadow(0 0 4px #1555a3);
}

.youtube{
    -webkit-text-stroke: 1px #fdbabb;
    filter: drop-shadow(0 0 1px #862222) drop-shadow(0 0 1px #862222);

}
#youtube{
    border: 1px solid #fdbabb;
    filter: drop-shadow(0 0 4px #862222) drop-shadow(0 0 4px #862222);

}

.inst {
    -webkit-text-stroke: 1px #fd90ba;
    filter: drop-shadow(0 0 1px #78143a) drop-shadow(0 0 1px #78143a);

}

#inst {
    border: 1px solid #fd90ba;
         filter: drop-shadow(0 0 4px #78143a) drop-shadow(0 0 4px #78143a);
}