@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');


p {
    font-family: 'Jura', sans-serif;
    color: white;
}

body, html {
    background: linear-gradient(to bottom, #060c1b 0%, #000000 100%);
    height: 100%;
    display: grid;
    overflow: hidden;
}

.load-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

.logo img {
    max-width: 250px;
    margin-bottom: 20px;
}

.name p {
    font-size: 44pt;
    color: white;
    letter-spacing: 2px;
    margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}